<div class ="container-fluid" id = "controlSelect" > 

<h1>All Controls :</h1>

  <h3>Main Room Controls :</h3>
 
	</br>
	
	 <label id ="lightL"> Light:</label>
  <div class="btn-group btn-toggle"> 
   
    <button class="btn btn-lg btn-default" id="LightON">ON</button>
    <button class="btn btn-lg btn-primary active" id="LightOFF">OFF</button>
  </div>
  
  </br>
   </br>
  <label id ="fanL"> Fan:</label>
  
  <div class="btn-group btn-toggle"> 
   
    <button class="btn btn-lg btn-default">ON</button>
    <button class="btn btn-lg btn-primary active">OFF</button>
  </div>
  
  </br>
  </br>
  <label id ="acL"> Ac:</label>
  
    <div class="btn-group btn-toggle"> 
   
    <button class="btn btn-lg btn-default">ON</button>
    <button class="btn btn-lg btn-primary active">OFF</button>
  </div>
  
  </br>
  </br>
   
   <label> Custom command:</label>
   <input type="text" class="form-control" id="customSend" placeholder="Type your Command">
    </br>
   <button class="btn btn-danger btn-lg" id="Sendbutton">Send</button>

    </br>
	 </br>
   
   
   <h3>Kitchen Controls :</h3>
 
	</br>
	
	<label id ="light2L"> Light:</label>
	 
  <div class="btn-group btn-toggle"> 
   
    <button class="btn btn-lg btn-default">ON</button>
    <button class="btn btn-lg btn-primary active">OFF</button>
  </div>
  
  </br>
   </br>
  <label id ="efanL">Exhaust Fan:</label>
  
  <div class="btn-group btn-toggle"> 
   
    <button class="btn btn-lg btn-default">ON</button>
    <button class="btn btn-lg btn-primary active">OFF</button>
  </div>
  
  </br>
  </br>
  <label id ="otherL"> Other equipment:</label>
  
    <div class="btn-group btn-toggle"> 
   
    <button class="btn btn-lg btn-default">ON</button>
    <button class="btn btn-lg btn-primary active">OFF</button>
  </div>
  
  </br>
  </br>
   
   <label> Custom command:</label>
   <input type="text" class="form-control" placeholder="Type your Command">
    </br>
   <button class="btn btn-danger btn-lg" id="buttonSend">Send</button>
   
   </div>