
<div class="container-fluid" id="myHome">
<h2> Features :</h2>
<br>

  <div class="row">
  
    <div class="col-md-4">
    <a href="#/">
          <img class="img-responsive" src="./images/analyse.png" alt="Analyse">
     </a>
        <p>Analyse </p>      
    </div>
    
    <div class="col-md-4">
    	 <a href="#/">
          <img class="img-responsive" src="./images/monitor.png" alt="Monitor">
     </a>
     <p>Monitor </p>   
    </div>
    
    <div class="col-md-4">
    	 <a href="#">
          <img class="img-responsive" src="./images/control.png" alt="Control">
     </a>
     <p>Control</p>   
    </div>
  </div>
</div>