<h2 class="myHeadings">kitchen monitor: </h2>

<br>

<div class="container-fluid" id="channels">
  <div class="row">
    <div class="col-md-5">
    <iframe width="450" height="250" style="border: 1px solid #cccccc;" src="http://thingspeak.com/channels/91545/charts/3?dynamic=true&key=752DNOA09S2IBJ7M"></iframe>
    </div>
    
    <div class="col-md-1"></div>
    
    <div class="col-md-6" >
    
    <iframe width="450" height="250" style="border: 1px solid #cccccc;" src= "http://thingspeak.com/channels/91545/charts/4?dynamic=true&key=752DNOA09S2IBJ7M" ></iframe>
        
    </div>
  </div>
</div>