<h2 class="myHeadings">Main Room monitors: </h2>

<br>

<div class="container-fluid" id="channels">
	<div class="row">
		<div class="col-md-5">

			<iframe width="450" height="250" style="border: 1px solid #cccccc;" src="http://thingspeak.com/channels/99797/charts/2?dynamic=true&key=181LVXJK8RD1UZTQ"></iframe>
		</div>
		
		<div class="col-md-1"></div>
		
		<div class="col-md-6" >
			
			<iframe width="450" height="250" style="border: 1px solid #cccccc;" src="https://api.thingspeak.com/channels/99797/charts/1?dynamic=true&key=181LVXJK8RD1UZTQ"></iframe>

			
		</div>
	</div>
</div>
